PORT=8001
CORS_ORIGIN=true

# Database Connection
MONODB_URI=mongodb://mongo-root:BeekeepingOutingElapsesRadioed@93.127.167.193:27009/office-management?authSource=admin

# JWT Secrets
ACCESS_TOKEN_SECRET=secret
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=secret
REFRESH_TOKEN_EXPIRY=30d

PUBLIC_API_KEY=kErRRCt6k8nbWRa2PybnrSrE6ZROVdpm

R2_ENDPOINT=https://1d07911481ec066c5483425b73452a53.r2.cloudflarestorage.com
R2_BUCKET_NAME=cdn
R2_ACCESS_KEY_ID=e46fcca12b70dfc0571e778a974f2cf6
R2_SECRET_ACCESS_KEY=eed8186dce287e8a6a31ae0c34a431372bd6374133d56265f7e68a0cf510cf4d
R2_PUBLIC_URL=https://cdn.amptechnology.in
